body{
    background-color: #00274D;
}
#buttons{
    float: left;
}
#right_side{
    float: right;
    background: white;
    margin: 0;
    width: 200px;
    height: 97vh;
    overflow-y: scroll;
}
button{
    background-color: lightgrey;
    transition: all .2s ease-in;
    height: 25px;
    width: 75px;
    border: none;
    margin: 7px;
}
button:hover{
    background-color: white;
}